# Haskell / cabal intermediates
dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h

# pdflatex intermediates
*.aux
*.lof
*.log
*.lot
*.toc
*.run.xml

# Executables; don't ignore scripts
bin/*
!bin/*.sh
*.out

# Various types of backup files
*~
*core.*
*fuse_hidden*
*.kate-swp
.virthualenv

junktest/*
